:root {
  --primary-color: #333;
  --secondary-color: rgb(60 255 208);
  --tertiary-color: rgb(32, 147, 120);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(201, 194, 194);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color); 
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--tertiary-color);
}

li {
  padding-right: 1em;
}

.card {
  background-color: var(--primary-color);
  border-color: var(--bs-card-color);
}

button {
  background-color: var(--secondary-color);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}

.submit-btn {
  background-color: var(--tertiary-color);
}

button:hover {
  background-color: var(--tertiary-color);
}

.comment-body {
  max-width: 40%;
  min-height: 100px;
}

textarea, input {
  width: 100%;
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.post-text {
  margin-top: 0.5em;
  height: 100px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}


form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 a {
  font-size: 1em;
  color: var(--secondary-color);
}

h2 {
  font-size: 1.4em;
  margin-top: 0.5em;
}

nav {
  display: contents;
}

li {
  list-style-type: none;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  
}

.btn-no-style:hover {
  background: none;
  color: var(--tertiary-color);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
  color: var(--primary-color);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .7;
}

.new-post-form input {
  width: 100%;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}